// Настройка палитры цветов

// хедер
$color__headerNav: #617588; // навигация
$color__headerTop: #9FACBA; // верхняя панель
$color__headerAuth: #B0CA1F; // авторизация

// основы
$color__border: #E9E9E9; // цвет бордера
