// настройки шрифтов

// хедер
%font_headerTop {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}

%font_headerMenu {
    font-family: Tisa Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}