// настройка сетки

.g-1 {
    width: 96px;
}
.g-2 {
    width: 192px;
}
.g-3 {
    width: 288px;
}
.g-4 {
    width: 384px;
}
.g-5 {
    width: 480px;
}
.g-6 {
    width: 576px;
}
.g-7 {
    width: 672px;
}
.g-8 {
    width: 768px;
}
.g-9 {
    width: 864px;
}
.g-10 {
    width: 960px;
}
.g-11 {
    width: 1056px;
}
.g-12 {
    width: 1136px;
}